<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/admin.css" />

<body>
    <% if(typeof state != "undefined" && state.showMessage) { %>
        <div class="message" style=<%= "background-color:" + state.color %> id="stateMsg">
            <span><%= state.msg %></span>
            <input type="button" value="X" onclick="javascript: var element = document.getElementById('stateMsg'); element.parentNode.removeChild(element);">
        </div>
    <% } %>
    <%- include('./partials/adminHeader') %>
    <main>
        <h1 class="adminTitle">Administración de BFG Store</h1>
        <ul class="adminOptions">
            <li><a href="/admin/productsList">Listado de productos</a></li>
            <li><a href="/admin/productCreation">Crear Producto</a></li>
            <li><a href="/admin/usersList">Listado de usuarios</a></li>
            <li><a href="/admin/usersCreation">Crear usuario Admin</a></li>
        </ul>
    </main>
   

</body>
</html>