<footer>
    <div>
        <nav>
            <div class="navTitle">
                <i class="fas fa-user"></i>
                <span>Servicio al cliente</span>
            </div>
            <ul>
                <li><a href="#">- Medios de pago</a></li>
                <li><a href="#">- Envíos</a></li>
                <li><a href="#">- Servicio técnico</a></li>
                <li><a href="#">- Política de privacidad</a></li>
                <li><a href="#">- Términos y condiciones</a></li>
            </ul>
        </nav>

        <nav>
            <div class="navTitle">
                <i class="fas fa-headphones"></i>
                <span>BFG Store</span>
            </div>
            <ul>
                <li><a href="#">- Nosotros</a></li>
                <li><a href="#">- Contacto</a></li>
            </ul>
        </nav>

        <section class="footerRight">
            <div>
                <h3>SUSCRIBITE A NUESTRO NEWSLETTER</h3>
                <div class="newsletterContainer">
                    <input type="email" placeholder="Email">
                    <button><i class="far fa-envelope"></i></button>
                </div>
                <ul>
                    <li><a href="https://www.twitter.com/BFGStore"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/BFGStore"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/BFGStore"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
                <span>Razón Social | 30333333339</span>
                <span>Avenida Siempre Viva 742</span>
            </div>
        </section>
    </div>
</footer>