/* * {box-sizing: border-box}

html, body {
  height:100%;
  width:100%;
  margin:0;
  padding:0; 
  background-image: linear-gradient(#101f37, #e0f3f3);
} */

main{
  height: 90%;
}

div.errors{
  position: relative;
  width: 100%;
}

ul.errors{
  position: absolute;
  display: block;
  background-color: red;
  font-weight: 500;
  margin: 0;
  width: 100%;
  margin-top: 44px;
  min-height: 50px;
}
li.closeErrors {
  position: absolute;
  right: 10px;
  list-style-type: none;
}

li.closeErrors button{
  background-color: red;
  font-weight: 900;
  border: none;
  outline: none;
  width: 10px;
}

li.closeErrors button{
  cursor: pointer;
}

a {
  color: #37aa37;
  font-family: 'Roboto', sans-serif; 
}

.cell .logo {
  width: 140px;
  height: 140px;
  margin: 0 auto;
}

.logintext {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}

.smalltext {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

.registro {
  color: white;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

.table {
  display:table;
  text-align:center;
  width:100%;
  height:100%;
  table-layout:fixed;
}
.cell {
  display:table-cell;
  vertical-align:middle;
}

form {
  display:inline-block;
  width: 400px;
  padding:40px 0;
  background: #101e38;
  border-radius: 20px;
  margin-top: 75px;
  padding-top: 0;
}

.table input {
  width : 90%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom:5px;
}

.table button {
  padding: 5px;
  font: bold .6em sans-serif;
  border: 2px solid #333;
  border-radius: 5px;
  background: whitesmoke;
  cursor: pointer;
  width: 200px;
}

.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
}

.images {
  color: #37aa37;
  font-family: 'Roboto', sans-serif;
  justify-content: start;
  padding-left: 21px;
  margin-bottom: 5px;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;;
}

.images > div{
    width: 100%;
    text-align: left;
}

.images label {
  padding-right: 10px;
}

.images input{
  display: inline-block;
  width: auto;
  margin: 0;
}

button.ingresar {
  margin-top: 3%;
  font-size: 18px;
  color: white;
  background-color: #37aa37
}

.Social button.twitter-btn,
.Social button.facebook-btn {
   width: 80%;
   font-size: 18px;
   margin: 0px 0px 10px;
   color: white;
   text-align:center;
   
}
.Social button.twitter-btn {
   background-color: #26abfd;
  
}
.Social button.facebook-btn {
   background-color: #3f68be;
}
.Social {
   margin-top: 30px;
}
.Social button i {
   margin-right: 5px;
   font-size: 20px;
}

footer {
  margin-top: 0px;
}