* {box-sizing: border-box}

html, body {
  width:100%;
  margin:0;
  padding:0; 
  background-image: linear-gradient(#101f37, #e0f3f3);
}

header{
  justify-content: space-between;
  width: 100%;
  background-color: #FFF;
}

header a{
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  transition: .3s;
}

header a:hover{
  color:blue;
}

.message{
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  padding: 10px 15px;
  width: 100%;
  color: black;
  min-height: 80px;
  z-index: 20;
}

.message input {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 30px;
  border-radius: 15px;
  background-color: lightsteelblue;
  font-weight: 900;
  border-width: 0px;
  outline: none;
}

.message input:hover {
  cursor: pointer;
  background-color: #26abfd;
  color: white;
}

main {
  margin-top: 44px;
}

a {
  color: #37aa37;
  font-family: 'Roboto', sans-serif; 
}

.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
}

.smalltext {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

.registro {
  color: white;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

.table {
  display:table;
  text-align:center;
  width:100%;
  height:100%;
  table-layout:fixed;
}
.cell {
  display:table-cell;
  vertical-align:middle;
}

form {
  display:inline-block;
  width: 800px;
  padding:40px 0;
  background: #101e38;
  border-radius: 20px;
  
}

form > a > img.logo {
  margin: 0px auto;
}

form h1{
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.ingresar {
  margin-top: 3%;
  color: white;
  background-color: #37aa37;
  font-size: larger;
  transition: .3s;
}


input {
  width : 95%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom:5px;
  
}

textarea {
  width : 95%;
  margin-bottom: 5px;
}

.dropdowns {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  justify-content: start;
  padding-left: 21px;
  margin-bottom: 5px;
  font-size: 15px;
}
.dropdowns label{
  padding-right: 10px;
}

.dropdowns select{
  border-radius: 5px;
}

.images {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  justify-content: start;
  padding-left: 21px;
  margin-bottom: 5px;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;;
}

.images > div{
    width: 100%;
    text-align: left;
}

.images label {
  padding-right: 10px;
}

.images input{
  display: inline-block;
  width: auto;
  margin: 0;
}

.images ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 0px;
  width: 100%;
  justify-content: left;
}

.images ul li{
  margin-right: 20px;
  position: relative;
}

.images ul li input {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  border-radius: 15px;
  background-color: red;
  font-weight: 900;
  border-width: 0px;
  outline: none;
  font-size: 8px;
}

.images ul li input:hover {
  cursor: pointer;
  background-color: #26abfd;
  color: white;
}

.images ul img{
  max-height: 90px;
  max-width: 90px;
  height: 90px;
  width: 90px;
}

button {
  padding: 5px;
  font: bold .6em sans-serif;
  border: 2px solid #333;
  border-radius: 5px;
  background: whitesmoke;
  cursor: pointer;
  width: 200px;
}

.Social button.twitter-btn,
.Social button.facebook-btn {
   width: 80%;
   font-size: 18px;
   margin: 0px 0px 10px;
   color: white;
   text-align:center;
   
}
.Social button.twitter-btn {
   background-color: #26abfd;
  
}
.Social button.facebook-btn {
   background-color: #3f68be;
}
.Social {
   margin-top: 30px;
}
.Social button i {
   margin-right: 5px;
   font-size: 20px;
}

.ingresar:hover{
  background-color: darkgreen;
}

/*ADMIN INDEX*/

html, body, main{
  width: 100%;
  height: 100%;
}

h1.adminTitle{
  font-family: 'Roboto', sans-serif;
  color:#fff;
  text-align: center;
}

ul.adminOptions{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

ul.adminOptions li{
  box-sizing: border-box;
  margin: 20px 30px;
  min-width: 250px;
  min-height: 180px;
  border: none;
  border-radius: 15px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  transition: .3s;
}

ul.adminOptions li:hover{
  box-shadow: 5px 5px 8px rgba(0,0,0,0.8);
  padding: 6px;
}

ul.adminOptions li a{
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  transition: .3s;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

ul.adminOptions li a:hover, ul.adminOptions li:hover a{
  font-size: large;
}
