@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: 500px;
    background-image: linear-gradient(#101f37, #e0f3f3);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 15;
}

/*SocialHeader*/
.socialHeader {
    display: flex;
    flex:1 0 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #e0f3f3;
    color: darkolivegreen;
    font-size: small;
    opacity: 1;
    /* visibility: visible;
    transition: opacity 600ms, visibility 600ms; */
    height: 25px;
}

.dirTel{
    display: flex;
    flex-wrap: nowrap;
    justify-content:left;
}

.dirTel div{
    padding: 0 10px;
}

.address{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content:space-between;
}

.address i{
    font-weight: bold;
    display: flex;
    align-items: center;
}

.address span{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding-left: 5px;
}

.tel{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content:space-between;
}

.tel i{
    font-weight: bold;
    display: flex;
    align-items: center;
    align-self: center;
}

.tel span{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding-left: 5px;
}

.social{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    list-style-type: none;
    margin: 0px;
}

.social li{
    display: flex;
}

.social a {
    padding: 0 5px;
    color: darkolivegreen;
    text-decoration: none;
}

.social a:hover {
    color: #53ff50;
}

/*MainHeader*/
.mainHeader{
    display: flex;
    flex: 1 0 100%;
    justify-content:space-around;
    height: 65px;
    background-color: #101F37;
    border-top: 2px #37aa37 solid;
    border-bottom: 2px #37aa37 solid;
}

.mainLeft{
    display: flex;
    align-items:center;
    width: 140px;
}

.logo {
    display: flex;
    flex: 0 1 100px;
    margin-right: 10px;
}

.logo img{
    width: 100px;
    height: 40px;
}

.sandwich{
    display: flex;
    flex: 0 1 20px;
    font-size: 2.8em; 
    color: #e0f3f3;
}

.sandwich:hover {
    border: 1px solid;
    border-radius: 25%;
    padding: 0px 4px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: -6px;
}

.sandwich a{
    color: #53ff50;
    text-decoration: none;
    font-family: sans-serif;
}

.sandwich a:hover{
    color: #e0f3f3;
}

.buscador {
    display: flex;
    justify-content:space-around;
    flex: 0.5 1 200px;
    height: 30px;
    align-self: center;
    border-radius: 20px;
    outline: none;
    position: relative;
    background-color: white;
    box-shadow: 0 0px 9px 0 rgba(255, 255, 255, 0.4);
}

.buscador:hover {
    box-shadow: 0 0px 10px 0 rgba(255, 255, 255, 0.7);
}

.buscadorInput {
    display: flex;
    position: relative;
    left: 15px;
    align-self: center;
    border: none;
    outline: none;
    flex: 0.9;
}

.buscadorInput:focus { background-color:#fff; }

.separador{
    display: flex;
    position: relative;
    align-self: center;
    bottom: 1px;
}

.lupa{
    display: flex;
    position: relative;
    border-radius: 15px;
    padding: 5px;
    align-self: center;
    justify-content: flex-end;
    border: none;
    outline: none;
    background-color: white;
    font-size: large;
    font-weight: bold;
    color: #53ff50;
}

.lupa:hover{
    color: darkolivegreen;
}

.account {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    list-style-type: none;
    justify-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    width: 133px;
}

.account li{
    display: flex;
}

.account i {
    color: #53ff50;
    font-size: 1.5em;
}

.account i:hover {
    color: #e0f3f3;
    text-shadow: 0px 0px 4px rgba(150, 255, 150, 1);
}

/*MENU*/
.dropdown-content {
    display: none;
    position:absolute;
    top: 81px;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
}

.show {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.mContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 95%;
}

.lMenu {
    display: flex;
    flex-wrap: wrap;
}

.lMenuUl {
    display: flex;
    flex-flow: column;
    list-style-type: none;
    padding: 30px;
    width: 15%;
    margin: 0px;
    height: 250px;
    background-color: #ccc;
    min-width: 200px;
}

.lMenuUl li{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex: 0.1 1;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-left: 20px;
}

.seeAllProducts{ display:none; }

.rMenu {
    display: flex;
    flex-wrap: wrap;   
    align-self: flex-start; 
    list-style-type: none;
    margin: 0px;
    flex: 1 0;
}

.rMenu li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    font-family: 'Roboto', sans-serif;
    margin-right: 5%;
}


.rMenuItemHeader {
    display: flex;
}

.rMenuItemList{
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    margin: 0;
    padding-left: 5px;
}

/*FOOTER*/
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 0px;
    width: 100%;
    min-height: 250px;
    background-color: #333;
    margin-top: 170px;
    border-top: 2px #37aa37 solid;
}

footer>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto;
    width: 96%;
}

footer nav{
    margin-top: 30px;
}

footer .navTitle{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:#37aa37;
    text-shadow: 1px 1px black;
}

footer nav ul{
    list-style-type: none;
    padding: 0;
}

footer nav ul li{
    margin: 5px 0;
}

footer nav ul li a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: #fff;
    text-shadow: 2px 2px 1px #002c52;
    font-weight: 600;
}

footer nav ul li a:hover{
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    color: #53ff50;
}

.footerRight{
    height: 170px;
    width: 380px;
    position: relative;
    background-color: #37aa37;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    margin-bottom: 20px;
}

.footerRight>div{
    padding: 10px 10px;
}

.footerRight h3{
    color: #101F37;
    font-weight: 900;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
}


.footerRight ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.footerRight ul li{
    padding: 0 15px 0 0;
}

.footerRight ul li a{
    color: #101F37;
    font-size: xx-large;
}

.footerRight ul li a:hover{ color:gray; }

.footerRight .newsletterContainer{
    background-color: #fff;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.footerRight .newsletterContainer input{
    background-color: #fff;
    width: 88%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 6px 2px 6px 10px;
}

.footerRight .newsletterContainer button{
    margin: 0;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0px;
}

.footerRight .newsletterContainer button:hover{ color: #53ff50; }

.footerRight span{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #fff;
    text-shadow: 1.2px 1.2px 1px #002c52;
}

@media(max-width: 750px){
    .paymentMethods li{ flex: 1 1 100%; }
}


@media(max-width: 769px){
    /* .socialHeader { 
        opacity: 0;
        visibility: hidden;
        height: 0px;
    } */
    .socialHeader .social {
        display: none;
    }

    .buscador{ display: none; }

    .dropdown-content { top: 69px; }       
    .mContainer{ padding-bottom: 20px; }
    .lMenu{ display: none; }
    .seeAllProducts{ 
        display:flex; 
        flex:1 0 100%; 
        width: 100%;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color:#101F37;
        padding: 10px 20px;
        font-weight: 500;
    }
    .seeAllProducts:hover{ 
        color:darkolivegreen;
    }

    .footerRight{ height: 180px; }
    .footerRight .newsletterContainer input { padding: 6px 0px 6px 8px; }

}

@media(max-width: 381px){
    .footerRight{ height: 195px; }
}