main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    top: 85px;
    justify-content: space-around;
    align-items: flex-start;
}

section.prodSection {
    margin-top: 30px;
    display:flex;
    flex-wrap:wrap;
}

.flexsliderProduct{
    max-width: 340px;
    max-height: 340px;
    margin-left: 30px;
    flex: 1 0;
}
.flexsliderProduct img{
    max-width: 340px;
    max-height: 340px;
}



.productInfo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 0;
    max-width: 650px;
}

.productInfo h1{
    /* padding-left: 40px; */
}

ul.codQtyPri { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    justify-content: flex-start;
    /* align-items: center; */
}
.codQtyPri li{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    padding-right: 30px;
}

.codQtyPri li span:nth-child(1){
    font-weight: 500;
    font-size: 20px;
}

.codQtyPri li span:nth-child(2){
    font-size: 16px;
}

.productDetail ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: disc;
    margin-left: 20px;
    max-height: 100px
}

.productDetail ul li{
    padding-bottom: 10px;
}

.productDetail .productText {
    /* padding-left: 40px; */
} 

.productDetail .productPrice {
    /* padding-left: 40px; */
} 



.actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    flex: 1 0 100%;
    margin-top: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    max-width: 300px;
    border-radius: 10px;
    align-items: center;
}

.actions .cards{
    display: flex;
    flex-wrap: wrap;
}

.actions img{
    width: 40px;
}



.deliverText{
    padding: 0 30px;
}

.deliverPrice {
    text-decoration: none;
    align-self: flex-start;
    padding: 10px 0;
    padding-left: 30px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

.buttons button{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    letter-spacing: 1px;
    font-size: large;
}

.buttons button:nth-child(1){
    background-color: #37aa37;
}

.buttons button:nth-child(2){
    background-color: #2942d1;
}
/* 
.fas-fa-wallet{
    margin: 0px;
}

.fas-fa-truck{
    margin: 0px;
}



.separador{ 
    margin: 0px;
}

.tabs{
    margin: 0px;
}

/**ACCIONES* /
.actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    flex: 1 0 100%;
    margin-top: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    max-width: 300px;
    border-radius: 10px;
}

.actions h2 {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin: 15px 20px;
    height: 25px;
}

.actions h2 i{
    padding-right: 15px;
}

.actions ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.actions ul li{
    display: flex;
    flex: 1 0 100%;
    margin: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    padding: 5px 0;
}

.actions ul li>*{
    display: flex;
    flex-wrap: wrap;
}

.actions ul li input {
    display: flex;
    margin: 10px;
}

.actions ul li input:hover {
    cursor: pointer;
}

.actions ul li div h4{
    margin: 0px;
    font-size: smaller;
    width: 100%;
}

.actions ul li div span{
    margin: 0px;
    font-size: small;
}

.actions hr.separator{
    width: 80%;
    margin-top: 15px;
}

.actions .paymentData {
    width: 90%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 15px;
} */


/* breakpoint_1 */
@media all and (max-width: 524px){
    body:after { display: none; content: 'breakpoint_1'; }
    .productsSliderWrapper { width: 70%; }
    .productsflexslider { margin : 0 auto; }
    .whatsappChat {
        display: none;
    }
    .paymentMethods ul { width: 53%; }
    .paymentMethods li { padding: 0.5em 0.5em; }
    .paymentMethods i { padding-right: 5px; }
}

/* breakpoint_2 */
@media all and (min-width: 525px) {
    body:after { display: none; content: 'breakpoint_2'; }
    
}

/* breakpoint_3 */
@media all and (min-width: 785px) {
    body:after { display: none; content: 'breakpoint_3'; }
}

/* breakpoint_4 */
@media all and (min-width: 1225px) {
    body:after { display: none; content: 'breakpoint_4'; }
}
/* breakpoint_5 */
@media all and (min-width: 1600px) {
  body:after { display: none; content: 'breakpoint_5'; }
}