main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    top: 85px;
    justify-content: space-around;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}

section.prodSection {
    margin-top: 30px;
    display:flex;
    flex-wrap:wrap;
    width: 76%;
    align-items: center;
    justify-content: space-around;
}

.flexsliderProduct{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    align-content: center;
    max-width: 340px;
    max-height: 340px;
    flex: 1 0;
}
.flexsliderProduct img{
    border-radius: 7px;
    max-width: 340px;
    height: 300px;
}

.flexsliderProduct ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex-direction-nav a{
    color: white;
    opacity: .8;
}

.flex-direction-nav a:before {
    font-family:"Arial";
    font-size: 40px;
    line-height:1;
    display: inline-block;
    content:'<';
}

.flex-direction-nav .flex-prev {
    left: -30px;
}

.flex-direction-nav .flex-next {
    right: -30px;
}

.flex-direction-nav a.flex-next:before {
    content:'>';
}

.productInfo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 0;
    min-height: 480px;
    max-width: 759px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    margin: 0 40px;
}

.productInfo h1{
    margin-bottom: 3px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

ul.codQtyPri { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.codQtyPri li{
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    padding-right: 40px;
    padding-left: 40px;
    
}

.codQtyPri li span:nth-child(1){
    font-weight: 500;
    font-size: 20px;
}

.codQtyPri li span:nth-child(2){
    font-size: 16px;
}
.productQty {
    margin-left: 7px;
}

.productQty .quantity {
    position: relative;
}
  
.productQty input[type=number]::-webkit-inner-spin-button,
.productQty input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
.productQty  input[type=number] {
    -moz-appearance: textfield;
}
  
.productQty .quantity input {
    width: 45px;
    height: 32px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
}
  
.productQty .quantity input:focus {
    outline: 0;
}
  
.productQty .quantity-nav {
    float: left;
    position: relative;
    height: 32px;
    left: -2px;
}
  
.productQty .quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-weight: bolder;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.4;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
  
.productQty .quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}
  
.productQty .quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}

div.productDetail {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 10px;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 80%);
    border-radius: 15px;
}

.productDetail ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    max-height: 300px;
    overflow: hidden;
    width: 100%;
}

.productDetail ul li{
    padding-bottom: 10px;
    margin-left: 37px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.productDetail .productText {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 32px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
} 

.productPrice {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    font-size: 23px;
    height: 45px;
    justify-content: space-between;
} 

.productPrice span{
    display: inline-block;
}

.productPrice hr {
    flex: .9;
    box-sizing: border-box;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #8d8d8d;
}

.actions {
    min-height: 480px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    flex: 1 0 100%;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    max-width: 300px;
    border-radius: 10px;
    align-items: center;
}

.actions .cards{
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}

.actions img{
    width: 40px;
    padding: 3px
}

hr.separador {
    width: 76%;
    box-sizing: border-box;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #ffffff;
    margin: 25px 0;
    box-shadow: 1px 1px 4px rgb(0,0,0,.8);
    border-color: #53ff50;
}

.deliverText{
    padding: 0 30px;
}

.deliverPrice {
    align-self: flex-start;
    padding: 10px 0;
    padding-left: 83px;
}

section.tabs {
    width: 76%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    padding: 0px;
}

section.tabs>ul{
    border-radius: 10px 10px 0px 0px;
}

section.tabs>ul>li.ui-tabs-active.ui-state-active{
    background-color: #37aa37;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    box-shadow: none;
    border: none;
}
section.tabs>ul>li>a:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

.buttons button{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    letter-spacing: 1px;
    font-size: large;
}

.buttons button:nth-child(1){
    background-color: #37aa37;
}

.buttons button:nth-child(2){
    background-color: #2942d1;
}

#tabs-3 h1{
    text-align: center;
    animation: color-change 3.5s infinite;
}
      
@keyframes color-change {
    0% { color: #2942d1; }
    25% { color: #37aa37; }
    50% { color: #000; }
    75% { color: #37aa37; }
    100% { color: #2942d1; }
}

/* breakpoint_1 */
@media all and (max-width: 524px){
    body:after { display: none; content: 'breakpoint_1'; }
    .productsSliderWrapper { width: 70%; }
    .productsflexslider { margin : 0 auto; }
    .whatsappChat {
        display: none;
    }
    .paymentMethods ul { width: 53%; }
    .paymentMethods li { padding: 0.5em 0.5em; }
    .paymentMethods i { padding-right: 5px; }
}

/* breakpoint_2 */
@media all and (min-width: 525px) {
    body:after { display: none; content: 'breakpoint_2'; }
    
}

/* breakpoint_3 */
@media all and (min-width: 785px) {
    body:after { display: none; content: 'breakpoint_3'; }
}

/* breakpoint_4 */
@media all and (min-width: 1225px) {
    body:after { display: none; content: 'breakpoint_4'; }
}
/* breakpoint_5 */
@media all and (min-width: 1600px) {
  body:after { display: none; content: 'breakpoint_5'; }
}