main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    top: 85px;
    justify-content: space-around;
    align-items: flex-start;
}

.flexslider2{
    margin: 0px;
}

.productInfo{
    margin: 0px;
}

.codQtyPri {
    margin: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.codQtyPri li{
    display:flex;
    flex-wrap: wrap;
    margin: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.productDetail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    width: 116px;
    max-width: 116px;
}

.fas-fa-wallet{
    margin: 0px;
}

.fas-fa-truck{
    margin: 0px;
}

.buttons{
    margin: 0px;
}

.separador{ 
    margin: 0px;
}

.tabs{
    margin: 0px;
}

/*ACCIONES*/
.actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    flex: 1 0 100%;
    margin-top: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    max-width: 300px;
    border-radius: 10px;
}

.actions h2 {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin: 15px 20px;
    height: 25px;
}

.actions h2 i{
    padding-right: 15px;
}

.actions ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.actions ul li{
    display: flex;
    flex: 1 0 100%;
    margin: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    padding: 5px 0;
}

.actions ul li>*{
    display: flex;
    flex-wrap: wrap;
}

.actions ul li input {
    display: flex;
    margin: 10px;
}

.actions ul li input:hover {
    cursor: pointer;
}

.actions ul li div h4{
    margin: 0px;
    font-size: smaller;
    width: 100%;
}

.actions ul li div span{
    margin: 0px;
    font-size: small;
}

.actions hr.separator{
    width: 80%;
    margin-top: 15px;
}

.actions .paymentData {
    width: 90%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 15px;
}


/* breakpoint_1 */
@media all and (max-width: 524px){
    body:after { display: none; content: 'breakpoint_1'; }
    .productsSliderWrapper { width: 70%; }
    .productsflexslider { margin : 0 auto; }
    .whatsappChat {
        display: none;
    }
    .paymentMethods ul { width: 53%; }
    .paymentMethods li { padding: 0.5em 0.5em; }
    .paymentMethods i { padding-right: 5px; }
}

/* breakpoint_2 */
@media all and (min-width: 525px) {
    body:after { display: none; content: 'breakpoint_2'; }
    
}

/* breakpoint_3 */
@media all and (min-width: 785px) {
    body:after { display: none; content: 'breakpoint_3'; }
}

/* breakpoint_4 */
@media all and (min-width: 1225px) {
    body:after { display: none; content: 'breakpoint_4'; }
}
/* breakpoint_5 */
@media all and (min-width: 1600px) {
  body:after { display: none; content: 'breakpoint_5'; }
}