div.labelData {
  color:#37aa37;
  font-family: 'Roboto', sans-serif;
}

div.innerData{
  width: 90%;
  text-align: left;
  padding: 5px;
}

div.innerData label{
  padding-right: 5px;
}

div.innerData label:nth-child(1){
  color: #fff;
  font-size: 18px;
}

.flex-inner.images {
  color: #fff;
  font-size: 16px;
}

.flex-inner.images label{
  padding-right: 10px;
}

.flex-inner.images ul{
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

.flex-inner.images ul img{
  width: 100px;
}
.flex-inner.images .innerData{
  display: flex;
  align-items: center;
}

.images {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  justify-content: start;
  padding-left: 21px;
  margin-bottom: 5px;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;;
}

.images > div{
    width: 100%;
    text-align: left;
}

.images label {
  padding-right: 10px;
}

.images input{
  display: inline-block;
  width: auto;
  margin: 0;
}

.images ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 0px;
  width: 100%;
  justify-content: left;
}

.images ul li{
  margin-right: 20px;
  position: relative;
}

.images ul li input {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  border-radius: 15px;
  background-color: red;
  font-weight: 900;
  border-width: 0px;
  outline: none;
  font-size: 8px;
}

.images ul li input:hover {
  cursor: pointer;
  background-color: #26abfd;
  color: white;
}

.images ul img{
  max-height: 90px;
  max-width: 90px;
  height: 90px;
  width: 90px;
}


.editPass {
  width: 88%;
  margin: 0px auto;
  text-align: left;
}

.editPass label{
  display: inline-block;
  margin: 0px auto;
  width: auto;
  color: #FFF;
  padding-right: 5px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  vertical-align: top;
}

.editPass input{
  display: inline-block;
  margin: 0px auto;
  width: auto;
  vertical-align: middle;
}

.hidden{
  display: none;
}


/*ERRORS*/

.has-error {
  border: solid 2px red;
}

.messages{
  width: 90%;
}

.messages p{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: red;
  padding: 2px;
  text-align: left;
}




/*TOP ERRORS*/
div.errors{
  position: relative;
  width: 100%;
  top: 90px;
}

ul.errors{
  position: absolute;
  display: block;
  background-color: red;
  font-weight: 500;
  margin: 0;
  width: 100%;
  margin-top: 44px;
  min-height: 50px;
}
li.closeErrors {
  position: absolute;
  right: 10px;
  list-style-type: none;
}

li.closeErrors button{
  background-color: red;
  font-weight: 900;
  border: none;
  outline: none;
  width: 10px;
}

li.closeErrors button{
  cursor: pointer;
}

.message{
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  padding: 10px 15px;
  width: 100%;
  color: black;
  min-height: 80px;
  z-index: 20;
}

.message input {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 30px;
  border-radius: 15px;
  background-color: lightsteelblue;
  font-weight: 900;
  border-width: 0px;
  outline: none;
}

.message input:hover {
  cursor: pointer;
  background-color: #26abfd;
  color: white;
}