<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/login.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../plugins/toasty/toasty.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../plugins/toasty/jquery.toasty.js"></script>
    <script src="../scripts/global.js"></script>
</head>

<body>
    <%- include('../partials/header') %>
    <div class='table'>
        <div class='cell'>
            <form>
                <a href='../pages/index.html'>
                <img class='logo' src='../logos/logo140x140.jpg'><br>
                </a>
                <h1 class='logintext'> Ingresá a tu cuenta</h1>
                <div class='user'>
                    <input type='text' class='entry' name='usuario' placeholder='Usuario'><br>
                </div>  
                <div class='passwordtext'>
                    <input type='password' class='entry' name='contrasenia' placeholder='Contraseña'><br>
                    <a href=''><h1 class='smalltext'> Olvidé mi contraseña</h1></a>
                </div>
                <div>
                <button class='ingresar' type='submit'> Ingresar
                </div>

                <div class="Social">
                
                    <button type="submit" class="facebook-btn">
                    
                    <i class="fa fa-facebook" aria-hidden="true"></i><i class="fab fa-facebook-f"></i> Ingresar con Facebook

                    <button type="submit" class="twitter-btn">
                
                    <i class="fa fa-twitter" aria-hidden="true"></i><i class="fab fa-twitter"></i> Ingresar con Twitter

                </div>
                <h1 class='registro'> Si no estas registrado, <a class='smalltext' href='/users/register'> hace click aquí</a>
            </form>
        </div>
    </div>
   
    <%- include('../partials/footer') %>
</body>

</html>