<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/register.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../plugins/toasty/toasty.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../plugins/toasty/jquery.toasty.js"></script>
    <script src="../scripts/global.js"></script>
</head>

<body>
    <%- include('../partials/header') %>
    <div class='table'>
        <div class='cell'>
            <form action="?_method=put" method="post">
                <a href='/'>
                    <img class='logo' src='/logos/logo140x140.jpg'><br>
                </a>
                <h1 class='logintext'> Ingresá a tu cuenta</h1>
                <div>
                    <input id="email" name="email" type="email" placeholder="Email">
                </div>

                <div>
                    <input id="password" name="password" type="password" placeholder="Contraseña">
                </div>
                <!-- Cargo el Repeat Password en el form de registro -->
                <div>
                    <input id="repassword" name="repassword" type="password" placeholder="Repite la contraseña">
                </div>

                <div>
                    <input id="name" name="name" type="text" placeholder="Nombre">
                </div>

                <div>
                    <input id="lastName" name="lastNname" type="text" placeholder="Apellido">
                </div>

                <div class='flex-inner images'> 
                    <label for="images">Avatar:</label>
                    <input type="file" name="avatar">
                </div>

                <div>
                    <input id="calleDeEntrega" name="calleDeEntrega" type="text" placeholder="Dirección de entrega">
                </div>

                <div>
                    <input id="ciudadDeEntrega" name="ciudadDeEntrega" type="text" placeholder="Ciudad de entrega">
                </div>

                <div>
                    <input id="paisDeEntrega" name="paisDeEntrega" type="text" placeholder="País">
                </div>

                <div>
                    <input id="cpDeEntrega" name="cpDeEntrega" type="text" placeholder="Código postal">
                </div>


                <div>
                    <button class='ingresar' type='submit'> Registrarse
                </div>

                <div class="Social">

                    <button type="submit" class="facebook-btn">

                        <i class="fa fa-facebook" aria-hidden="true"></i><i class="fab fa-facebook-f"></i>
                        Registrarse con Facebook

                        <button type="submit" class="twitter-btn">

                            <i class="fa fa-twitter" aria-hidden="true"></i><i class="fab fa-twitter"></i>
                            Registrarse con Twitter
                </div>
                <h1 class='registro'> Si ya tenes una cuenta, <a class='smalltext' href='/users'> hace click
                        aquí</a>
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>

</html>